<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/user/login}" th:object="${user}" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:field="*{email}" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required>
    <button type="submit">Login</button>
</form>
<a th:href="@{/user/register}">Đăng ký</a>
<a th:href="@{/user-cart}">Quay lại trang chủ</a>
</body>
</html>